@import "./styles/index.scss";

.header {
  background-color: #1a1a1a;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.layout-container {
  min-height: 100vh;
}